{
    "eslintIntegration": true,
    "stylelintIntegration": true,
    "tabWidth": 2,
    "singleQuote": true,
    "semi": false,
    "useTabs": false,
    "alwaysParens": true,
    "printWidth": 120,
    "arrowParens": "always" 
}